.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.button-list {
  width: 50%;
  margin: auto;
  text-align: center;
}

button {
  display: inline-block;
  margin-bottom: 0.5em;
}
