.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.details {
  width: 50%;
  overflow: auto;
  margin: auto;
}

.text-align-center {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}
